{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <div class="container">
        <h2 class="my-5 h2 text-center">Track Your Parcel</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.tracking_code|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Track</button>
        </form>

        {% if tracking_info %}
            <h3 class="mt-4">Tracking Information</h3>
            <pre>{{ tracking_info|safe }}</pre>  <!-- Display tracking info -->
        {% endif %}
    </div>
</main>
{% endblock %}